body {
	background-color: #f8f8f8;
	font-family: Arial, Helvetica, sans-serif;
}

.book-library {
	width: 90%;
    margin: 20px auto;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
	
}

h1 {
	padding: 15px;
	background-color: #f8f8f8;
	text-align: center;
	margin-bottom: 20px;
}

.book {
	margin-bottom: 20px;
	padding: 10px;
	background-color: #f8f8f8;
}

.img {
	text-align: center;
}

.title {
	margin: 0px;
}

.author {
	color: #777777;
	margin: 0px;
}

.price {
	height: 25px;
	padding-top: 7px;
	background-color: rgb(46, 204, 113) ;
	border-radius: 7px;
	text-align: center;
	color: white ;
}



