/*  your css code here. If applicable */
.body{
	background-color: #f8f8f8;
}

.book-library{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #ffffff;
}

h1{
	text-align: center;
}

.book{
	margin-bottom: 50px;
}

.img{
	text-align: center;
}

.title{
	margin: 0px;
}

.author{
	color: rgb(119, 119, 119);
	margin: 0px;
}

.price{
	height: 25px;
	padding-top: 7px;
	background-color: rgb(46, 204, 113);
	border-radius: 7px;
	text-align: center;
	color: rgb(255, 255, 255);
}